/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  min-width: 1240px;
  background: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.2;
  color: #000;
}
p {
  font: inherit;
}
a {
  color: inherit;
}
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 8px;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.heading,
.heading--section {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.heading--section {
  margin: 0 0 55px;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  color: #1b4468;
  text-align: center;
}
.btn,
.input {
  display: inline-block;
  border: none;
  outline: none;
  line-height: inherit;
}
.input {
  height: 45px;
  padding: 8px 15px;
  background: #ededed;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: 19px 'Trebuchet MS', Helvetica, sans-serif;
}
.input::-webkit-input-placeholder {
  color: inherit;
}
.input:-moz-placeholder {
  color: inherit;
}
.input::-moz-placeholder {
  color: inherit;
}
.input:-ms-input-placeholder {
  color: inherit;
}
.input.placeholder {
  color: inherit;
}
.btn {
  height: 45px;
  padding: 8px 2px;
  background: #fba500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background: #e79800;
}
.btn--submit {
  font: bold 20px 'Trebuchet MS', Helvetica, sans-serif;
}
.btn--call {
  font: 24px 'Trebuchet MS', Helvetica, sans-serif;
}
.b-advantages {
  min-height: 474px;
  padding: 64px 0;
  background: url("../img/b-advantages.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
}
.b-advantages__item {
  display: inline-block;
  vertical-align: top;
}
.b-advantages__item + .b-advantages__item {
  margin-left: 50px;
}
.b-advantages__item__text {
  font-size: 22px;
}
.b-catalog {
  padding: 65px 0;
  background: url("../img/b-catalog.jpg") repeat;
  min-height: 500px;
  text-align: center;
}
.b-catalog__item {
  display: inline-block;
  vertical-align: top;
}
.b-catalog__item + .b-catalog__item {
  margin-left: 100px;
}
.b-certificate {
  padding: 68px 0;
  background: url("../img/b-certificate.png") repeat;
  text-align: center;
}
.b-certificate__image {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 8px #696969;
  box-shadow: 0 0 8px #696969;
}
.b-footer {
  padding: 68px 0;
  min-height: 662px;
  background: url("../img/b-footer.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
.b-footer__form {
  margin: 35px 0;
}
.b-footer__heading {
  font-size: 46px;
  text-transform: uppercase;
}
.b-footer__heading strong {
  color: #fba500;
}
.b-footer__heading small {
  font-size: 43px;
  text-transform: none;
}
.b-form {
  width: 355px;
  padding: 20px;
  background: rgba(0,0,0,0.65);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
}
.b-form__heading {
  margin: 0 0 15px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 0.85;
  text-transform: uppercase;
}
.b-form__heading strong {
  font-size: 20px;
  color: #fba500;
}
.b-form__heading small {
  font-size: 24px;
}
.b-form .input,
.b-form .btn {
  width: 100%;
  margin: 8px 0;
}
.b-header {
  padding: 35px 0 0;
  height: 180px;
  background: url("../img/b-header.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #d0cecc;
}
.b-product--mini .b-product__image {
  display: block;
  margin: 0 auto 15px;
}
.b-product--mini .b-product__name,
.b-product--mini .b-product__old-price {
  margin: 0 0 5px;
}
.b-product {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.b-product__name {
  font-size: 40px;
  font-style: italic;
}
.b-product__old-price {
  color: #adadad;
  font-size: 22px;
  text-decoration: line-through;
}
.b-product__price {
  font-size: 33px;
  font-weight: bold;
  color: #0083c7;
}
.b-promo {
  height: 488px;
  background: url("../img/b-promo.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b-reviews {
  min-height: 660px;
  padding: 68px 0;
  background: url("../img/b-reviews.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.b-reviews__heading {
  color: inherit;
}
.b-reviews__item {
  display: inline-block;
  vertical-align: top;
  width: 285px;
}
.b-reviews__item__info,
.b-reviews__item__image {
  margin: 0 0 15px;
}
.b-reviews__item__info {
  font-style: italic;
  font-size: 18px;
  color: #cdcdcd;
}
.b-reviews__item__text {
  font-size: 14px;
  line-height: 1.4;
}
.b-steps {
  min-height: 663px;
  padding: 68px 0;
  background: url("../img/b-steps.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.b-steps__heading {
  color: inherit;
}
.b-steps__items {
  background: url("../img/b-steps__items.png") no-repeat 50% 92px;
}
.b-steps__item {
  display: inline-block;
  vertical-align: top;
}
.b-steps__item + .b-steps__item {
  margin-left: 22px;
}
.b-steps__item:nth-child(2n) {
  margin-top: 128px;
}
.b-steps__item__text {
  font-size: 25px;
}
