/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  min-width: 1240px;
  background: #fff;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  line-height: 1.2;
  color: #000;
}
p {
  font: inherit;
}
a {
  color: inherit;
}
strong {
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 8px;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.heading--section {
  margin: 0 0 55px;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  color: #1b4468;
  text-align: center;
}
.btn,
.input {
  display: inline-block;
  border: none;
  outline: none;
  line-height: inherit;
  text-decoration: none;
  font-family: inherit;
}
.btn {
  cursor: pointer;
  text-align: center;
}
.input {
  height: 45px;
  padding: 8px 15px;
  background: #ededed;
  border: 3px solid #ededed;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 19px;
}
.input::-webkit-input-placeholder {
  color: inherit;
}
.input:-moz-placeholder {
  color: inherit;
}
.input::-moz-placeholder {
  color: inherit;
}
.input:-ms-input-placeholder {
  color: inherit;
}
.input.placeholder {
  color: inherit;
}
.btn--yellow,
.btn--submit,
.btn--order {
  background: #fba500;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.btn--yellow:hover,
.btn--submit:hover,
.btn--order:hover {
  background: #e79800;
}
.btn--submit {
  height: 45px;
  padding: 8px 2px;
  font-size: 20px;
  font-weight: bold;
}
.btn--order {
  height: 45px;
  padding: 8px 20px;
  font-size: 24px;
}
.b-advantages {
  min-height: 474px;
  padding: 64px 0;
  background: url("../img/b-advantages.jpg") repeat;
  text-align: center;
  position: relative;
}
.b-advantages:after {
  content: '';
  width: 100%;
  height: 42px;
  background: url("../img/shadow.png") no-repeat center center;
  position: absolute;
  bottom: -42px;
  left: 0;
  z-index: 100;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.b-advantages__heading {
  margin: 0 0 40px;
}
.b-advantages__item {
  display: inline-block;
  vertical-align: top;
  width: 250px;
}
.b-advantages__item + .b-advantages__item {
  position: relative;
}
.b-advantages__item + .b-advantages__item:before {
  content: '';
  background: url("../img/b-advantages__item-separator.png") no-repeat;
  width: 67px;
  height: 33px;
  position: absolute;
  left: -35px;
  top: 64px;
  z-index: 50;
}
.b-advantages__item__text {
  font: 22px Arial, sans-serif;
}
.b-advantages__item__image {
  position: relative;
  z-index: 100;
}
.b-catalog {
  padding: 65px 0;
  background: url("../img/b-catalog.jpg") repeat;
  min-height: 500px;
  text-align: center;
}
.b-catalog__item {
  display: inline-block;
  vertical-align: top;
}
.b-catalog__item + .b-catalog__item {
  margin-left: 100px;
}
.b-certificate {
  padding: 68px 0;
  background: url("../img/b-certificate.png") repeat;
  text-align: center;
}
.b-certificate__image {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 8px #696969;
  box-shadow: 0 0 8px #696969;
}
.b-footer {
  padding: 68px 0;
  min-height: 662px;
  background: url("../img/b-footer.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
.b-footer__form {
  margin: 35px 0;
}
.b-footer__heading {
  font-size: 46px;
  text-transform: uppercase;
}
.b-footer__heading strong {
  color: #fba500;
}
.b-footer__heading small {
  font-size: 43px;
  text-transform: none;
}
.b-form--default {
  width: 355px;
  padding: 20px;
  background: rgba(0,0,0,0.65);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
}
.b-form--default .input,
.b-form--default .btn {
  width: 100%;
}
.b-form--default .input + .input,
.b-form--default .input + .btn {
  margin-top: 12px;
}
.b-form--default .b-form__heading {
  margin: 0 0 15px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 0.85;
  text-transform: uppercase;
}
.b-form--default .b-form__heading strong {
  font-size: 20px;
  color: #fba500;
}
.b-form--default .b-form__heading small {
  font-size: 24px;
}
.b-form--modal {
  padding: 30px;
  text-align: center;
}
.b-form--modal .b-form__heading {
  margin: 0 0 30px;
  font-size: 31px;
  color: #4a4a4a;
}
.b-form--modal .input,
.b-form--modal .btn {
  display: block;
  margin: 0 auto;
  width: 308px;
  height: 50px;
}
.b-form--modal .input {
  color: #4a4a4a;
  background: #fff;
}
.b-form--modal .input + .input,
.b-form--modal .input + .btn {
  margin-top: 10px;
}
.b-header {
  padding: 35px 0 0;
  height: 180px;
  background: url("../img/b-header.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  border-bottom: 1px solid #d0cecc;
}
.b-header__stats,
.b-header__logo {
  display: inline-block;
  vertical-align: bottom;
}
.b-header__logo {
  margin-right: 68px;
}
.b-header__stats {
  margin-right: 75px;
  text-align: center;
}
.b-header__stats__heading {
  font-size: 19px;
  font-style: italic;
  margin: 0 0 10px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.b-header__stats__number {
  display: inline-block;
  width: 40px;
  height: 45px;
  background: url("../img/b-header__stats__number.png") no-repeat;
  font-size: 38px;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0 0 15px #171819;
  box-shadow: 0 0 15px #171819;
  position: relative;
}
.b-header__stats__number:before {
  content: '';
  width: 36px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 22px;
  left: 2px;
  z-index: 100;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.b-header__stats__number + .b-header__stats__number {
  margin-left: 2px;
}
.b-header__contacts {
  display: inline-block;
  float: right;
  text-align: right;
}
.b-header__contacts__phone {
  margin: 0 0 4px;
  font-size: 30px;
}
.b-header__contacts__schedule {
  margin: 0 0 8px;
  font-size: 15px;
}
.b-product-details {
  display: none;
  padding: 40px;
  zoom: 1;
}
.b-product-details:before,
.b-product-details:after {
  content: "";
  display: table;
}
.b-product-details:after {
  clear: both;
}
.b-product-details__images,
.b-product-details__main {
  display: inline-block;
  vertical-align: top;
}
.b-product-details__images {
  width: 300px;
  padding: 0 15px 0 0;
}
.b-product-details__images__items {
  float: right;
  text-align: center;
}
.b-product-details__images__item {
  max-width: 46px;
  padding: 3px;
  cursor: pointer;
}
.b-product-details__images__item.active {
  -webkit-box-shadow: 0 0 2px #949494;
  box-shadow: 0 0 2px #949494;
}
.b-product-details__images__item + .b-product-details__images__item {
  margin-top: 25px;
}
.b-product-details__images__item img {
  display: block;
}
.b-product-details__images__current {
  display: inline-block;
  width: 210px;
}
.b-product-details__main {
  width: 520px;
  padding: 0 15px;
}
.b-product-details__main__bottom {
  float: right;
}
.b-product-details .b-product__name {
  margin: 0 0 25px;
}
.b-product-details .b-product__list {
  margin: 0 0 20px;
}
.b-product-details .b-product__old-price,
.b-product-details .b-product__price,
.b-product-details .b-product__order {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 15px;
}
.b-product-preview__image {
  display: inline-block;
  max-width: 170px;
  margin: 0 0 15px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 10px #5b5b5b;
  box-shadow: 0 0 10px #5b5b5b;
  cursor: pointer;
}
.b-product-preview .b-product__name,
.b-product-preview .b-product__old-price {
  margin: 0 0 5px;
}
.b-product-preview .b-product__price {
  margin: 32px 0 0;
}
.b-product-preview .b-product__old-price + .b-product__price {
  margin: 0;
}
.b-product__name {
  font-size: 40px;
  font-style: italic;
}
.b-product__old-price {
  color: #adadad;
  font-size: 22px;
  text-decoration: line-through;
}
.b-product__price {
  font-size: 33px;
  font-weight: bold;
  color: #0083c7;
}
.b-product__list {
  font: 15px Arial, sans-serif;
}
.b-product__list__item + .b-product__list__item {
  margin-top: 25px;
}
.b-product__order:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  background: url("../img/b-product__order.png") no-repeat;
}
.b-product--sticker {
  position: relative;
}
.b-product--sticker:before {
  content: '';
  width: 117px;
  height: 115px;
  background: url("../img/b-product--sticker.png") no-repeat;
  position: absolute;
  top: -20px;
  right: -20px;
}
.b-promo {
  padding: 40px 0;
  height: 488px;
  background: url("../img/b-promo.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
}
.b-promo:after {
  content: '';
  width: 100%;
  height: 42px;
  background: url("../img/shadow.png") no-repeat center center;
  position: absolute;
  bottom: -42px;
  left: 0;
  z-index: 100;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.b-promo__headings {
  float: left;
  line-height: 1.1;
}
.b-promo__form {
  float: right;
  margin: 100px 0 0;
}
.b-promo__heading--one {
  margin: 0 0 70px;
  color: #b9b9b9;
  font-size: 38px;
}
.b-promo__heading--one strong {
  font-size: 45px;
  color: #fba500;
  text-transform: uppercase;
}
.b-promo__heading--one small {
  color: #fff;
  font-size: 27px;
  font-weight: bold;
}
.b-promo__heading--two {
  font-size: 45px;
  color: #b9b9b9;
}
.b-promo__heading--two strong {
  font-weight: bold;
  color: #fff;
}
.b-promo__heading--two small {
  font-size: 30px;
}
.b-reviews {
  min-height: 660px;
  padding: 68px 0;
  background: url("../img/b-reviews.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.b-reviews__heading {
  color: inherit;
}
.b-reviews__item {
  display: inline-block;
  vertical-align: top;
  width: 290px;
  font-family: Arial, sans-serif;
}
.b-reviews__item__info,
.b-reviews__item__image {
  margin: 0 0 15px;
}
.b-reviews__item__info {
  font-style: italic;
  font-size: 18px;
  color: #cdcdcd;
}
.b-reviews__item__text {
  font-size: 14px;
  line-height: 1.4;
}
.b-steps {
  min-height: 663px;
  padding: 68px 0;
  background: url("../img/b-steps.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.b-steps__heading {
  color: inherit;
}
.b-steps__items {
  background: url("../img/b-steps__items.png") no-repeat 50% 92px;
}
.b-steps__item {
  display: inline-block;
  vertical-align: top;
}
.b-steps__item + .b-steps__item {
  margin-left: 22px;
}
.b-steps__item.even {
  margin-top: 128px;
}
.b-steps__item__text {
  font: 25px Arial, sans-serif;
}
.b-thanks {
  padding: 65px 40px 65px 158px;
  font-size: 31px;
  background: #fff url("../img/b-thanks.png") no-repeat 20px 50%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
